// colors
$primary: #6A8170;
$secodary: #363636;

$lighttext: #FFFFFF;
$darktext: #000000;
$orange: orange;
$purple: purple;

$lightGreen: green;
$lightYellow: yellow;
$lightBlue: blue;
$lightRed: red;
$lightBlack: black;
$lightOrange: orange;