@import 'vars';

.base {
    margin: 0px;
    padding: 0px;
    background-color: $primary;
}
.back {
    color: $orange;
}
.dot {
    height: 15px;
    width: 15px;
    
    border-radius: 50%;
    display: inline-block;
    @media screen and (min-width:601px) {
      height: 20px;
      width: 20px;
  }
}
  .green {
    background-color: $lightGreen;
  }
  .blue {
    background-color: $lightBlue;
  }
  .yellow {
    background-color: $lightYellow;
  }
  .red {
    background-color: $lightRed;
  }
  .black {
    background-color: $lightBlack;
  }
  .orange {
    background-color: $lightOrange;
  }
.removeDot {
    list-style: none;
}
.paddingRemove {
    padding: 0em;

}