@import 'vars';
.mainImages {
    display: block;
   width: 20em;
   height: 10em; 
   margin: 1em auto;
}
.textSection {
    text-align: center;
    margin: auto 1em auto 1em;
}
.contactSection {
    text-align: center;
    margin: auto 1em auto 1em;
}