@import 'vars';

.footerBase {
    background-color: $secodary;
    display: flex;
    flex-direction: row;
    border-radius: .8em .8em 0em 0em;
    padding: 0em;
    height: 3.5em;
    width: 100vw;
    position: static;
    bottom: 0em;
    @media screen and (min-width:440px) {
        margin-top: 8em;
        font-size: 1.2em;
    }
}
.cright {
    margin: auto auto auto .5em;
    color: $lighttext;
}
.social {
    margin: auto 1em auto auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
}